.dropdownSection {
    padding: 0 20px 20px 20px;
}
.dropdownHeading {
    position: relative;
    background-color: #ff6060;
    color: white;
    border-radius: 5px;
}
.dropdownHeading h2 {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 0px;
    font-size: 0.9em;
    font-weight: unset;
    padding-left: 12px;
}
.chevronUp {
    position: absolute;
    pointer-events: none;
    background-size: 15px 15px;
    right: 7px;
    top: 10px;
}
.dropdownContent {
    background-color: #f6f6f6;
    color: #ff6060;
    border-radius: 0 0 5px 5px;
}
.dropdownContent p {
    margin: 0px;
    font-size: 0.72em;
    line-height: 1.4em;
    padding: 19px 7px 10px 12px;
}
.dropdownContent ul {
    font-size: 0.8em;
    list-style: none;
    margin: 0px;
    padding: 19px 7px 10px 12px;
}
.dropdownContent li {
    line-height: 20px;
}
