.carouselSection {
    position: relative;
    height: 255px;
    border-radius: 12px;
    margin: 0 20px 0 20px;
    padding: 10px 0 8px 0;
}
.carouselImg {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
.chevronLeft,
.chevronRight {
    position: absolute;
}
.chevronLeft {
    width: 12px;
    height: 20px;
    top: 98px;
    left: 0px;
    padding: 30px 30px 30px 6px;
}
.chevronRight {
    width: 12px;
    height: 20px;
    top: 98px;
    right: 0px;
    padding: 30px 6px 30px 30px;
}
.locationCount {
    display: none;
}

/* medias queries */
@media screen and (min-width: 1000px) {
    .carouselSection {
        height: 415px;
        padding: 4px 0 8px 0;
    }
    .carouselImg {
        border-radius: 27px;
    }
    .chevronLeft {
        width: 50px;
        height: 80px;
        top: 139px;
        left: 16px;
    }
    .chevronRight {
        width: 50px;
        height: 80px;
        top: 139px;
        right: 16px;
    }
    .locationCount {
        display: block;
        position: absolute;
        left: 48%;
        bottom: 30px;
        font-size: 1.2em;
        color: white;
    }
    .locationCount.hide {
        display: none;
    }
}
