body {
    color: #ff6060;
}
.housingMain {
    padding: 0 20px 0 20px;
}
.housingTitle {
    font-size: 1.1em;
    margin: 0 0 9px 0;
    line-height: 28px;
}
.housingLocation {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 0 12px 0;
}
.ratingHostCont {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 16px;
}
.housingPageTags {
    display: flex;
    flex-wrap: wrap;
}
