header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 15px 20px;
}
header nav{
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
    color: #FF6060;
    font-size: 0.8em;
    font-weight: bold;
}
header a:hover{
    text-decoration: underline;
}
.linkAccueil{
    margin-right: 15px;
}