footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 209px;
    background-color: black;
    color: white;
    font-size: 0.8em; /*1.55em */
    margin-top: 20px;
}

footer img{
    padding-top: 61px;
}
footer p{
    margin-top: 30px;
}