body {
    max-width: 1440px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* classes globales */
.hide {
    display: none;
}
.appear {
    display: block;
}
.rotate {
    transform: rotate(180deg);
}

/* color */
