.banner {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 12px;
    padding: 0 20px;
}
.banner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(68%);
    border-radius: 12px;
}
.bannerText {
    position: absolute;
    font-size: 1.5em;
    font-weight: normal;
    color: white;
    z-index: 2;
    margin: 20px 15px;
}

/* medias queries */
@media screen and (min-width: 1000px) {
    .banner {
        height: 223px !important;
        justify-content: center;
        padding: 30px 20px 0px 20px;
    }
    .bannerText {
        font-size: 3em;
    }
    .banner img {
        border-radius: 27px;
    }
}
